@using Microsoft.AspNetCore.Identity

@model Droid.Scheduler.WebUI.Controllers.BrainController;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ ViewData["Title"] = "BrainCreate";}

@Html.Partial("_Navigator")

@if (SignInManager.IsSignedIn(User))
{
    List<SelectListItem> listItemsType = new List<SelectListItem>();
    listItemsType.Add(new SelectListItem { Text = "String", Value = "String", Selected = true });
    listItemsType.Add(new SelectListItem { Text = "Int", Value = "Int" });
    listItemsType.Add(new SelectListItem { Text = "Boolean", Value = "Bool" });

    List<SelectListItem> listItemsColumns = new List<SelectListItem>();
    listItemsColumns.Add(new SelectListItem { Text = "None", Value = "None", Selected = true });
    @foreach (var col in Model.columns)
    {
        listItemsColumns.Add(new SelectListItem { Text = col, Value = col });
    }

    List<SelectListItem> listItemsField = new List<SelectListItem>();
    listItemsField.Add(new SelectListItem { Text = "None", Value = "None", Selected = true });
    @foreach (var col in Model.fields)
    {
        listItemsField.Add(new SelectListItem { Text = col, Value = col });
    }

    <div class="main-content">
        <table id="creationTable" class="brain-element">
            <tr>
                <td colspan="6"><center><h2>Create a new brain word</h2></center></td>
            </tr>
            <tr>
                <td >New word value : </td>
                <td colspan="4">@Html.TextBox("word", null, new { @class = "form-control" })</td>
                <td ><button onclick="addRow()" class="form-control">Add field</button></td>
            </tr>
            <tr id="row2" >
                <td>Column name :</td>
                <td>@Html.TextBox("columnname", null, new { @class = "form-control" })</td>
                <td>@Html.DropDownList("typevalue", listItemsType, new { @class = "form-control" })</td>
                <td>@Html.DropDownList("foreignkey", listItemsColumns, string.Empty, new { @class = "form-control" })</td>
                <td><select id="fkfield" class="form-control"></select></td>
                <td><button onclick="delRow(2)" class="form-control">Delete field</button></td>
            </tr>
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
        </table>
    </div>
    <script>
        var tableId = 3;
        $(function () {
            $('#foreignkey').on("change", function () {
                var col = $('#foreignkey').val();
                AjaxCall('/Brain/GetFields?col='+col, "test", 'POST').done(function (response) {
                    $('#fkfield').html('');
                    var options = '';
                    if (response.length > 0) {
                        options += '<option value="Select">Select</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i] + '">' + response[i] + '</option>';
                        }
                        $('#fkfield').append(options);
                    }
                }).fail(function (error) {
                    alert("field:" + error.StatusText);
                });
            });
        });
        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
        function addRow() {
            var table = document.getElementById("creationTable");
            var row = table.insertRow(2);
            tableId++;
            row.id = "row" + tableId;
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            cell1.innerHTML = "Column name :";
            cell2.innerHTML = "<input type='text' name='columnname' class='form-control' text='" + tableId + "'>";
            cell3.innerHTML = "<select id='typevalue" + tableId + "' class='form-control'></select>";
            cell4.innerHTML = "<select id='foreignkey" + tableId + "' class='form-control'></select>";
            cell5.innerHTML = "<select id='fkfield" + tableId + "' class='form-control'></select>";
            cell6.innerHTML = "<button id='" + tableId + "' onclick='delRow(" + tableId + ")' class=\"form-control\">Delete field</button>";
        }
        function delRow(id) {
            var table = document.getElementById("creationTable");
            console.log("delete in " + id);
            console.log("delete id " + tableId);
            var row = document.getElementById("row"+id);
            row.parentNode.removeChild(row);
        }
    </script>
}