@using Microsoft.AspNetCore.Identity

@model Droid.Scheduler.WebUI.Controllers.BrainController;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ViewData["Title"] = "Brain";}

@Html.Partial("_Navigator")

@if (SignInManager.IsSignedIn(User))
{
    <div class="main-content">
        <table class="brain-element">
            <tr class="brain-element">
                <td>
                    <p class="brainTitle">Language</p>
                    <p class="brainTitle">@ViewBag.Language</p>
                </td>
                <td>
                    <p class="brainTitle">Word</p>
                    <p class="brainTitle">@ViewBag.Word</p>
                </td>
                <td>
                    <p class="brainTitle">Count</p>
                    <p class="brainTitle">@ViewBag.Count</p>
                </td>
                <td>
                    <p class="brainTitle">Links</p>
                    <p class="brainTitle">@ViewBag.LinkCount</p>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div role="tabpanel" id="graph">
                        <div class="tab-pane active" id="graph">&nbsp;</div>
                    </div>
                </td>
            </tr>
            @if (Model.type != null)
            {
                <tr>
                    <td colspan="4">
                    @foreach (var column in Model.type.GetProperties())
                    {
                        <div class="brain-filter-element">
                            <label for="@column.Name" class="brain-filter-element-label">@column.Name</label>
                            @Html.TextBox(column.Name, null, new { @class = "brain-filter-element-input" })
                        </div>
                    }
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="brain-detail">
                            <tr class="brain-detail">
                            @foreach (var column in (Model.type).GetProperties())
                            {
                                <th class="brain-detail">@column.Name</th>
                            }
                            </tr>
                            @if (Model.datatable != null)
                            {
                                @foreach (var row in (Model.datatable))
                                {
                                    <tr class="brain-detail">
                                        @foreach (var column in Model.type.GetProperties())
                                        {
                                            <td class="brain-detail">@column.GetValue(row, null)</td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            }
            </table>
    </div>
    <script type="text/javascript">
        var neo4jUrl = '@Model.neo4jUrl';
        var neo4jUser = '@Model.neo4jUser';
        var neo4jPass = '@Model.neo4jPass';
        var cypher = '@Model.cypher';
        launchRenderer(cypher, neo4jUrl, neo4jUser, neo4jPass);
    </script>
}